/* styles for the header */
#top {
  width: 54%;
  margin-left: 22%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: rgba(222, 215, 236, 0.815);
  border-radius: 10px;
}
h1 {
  font-size: 4rem;
}
p {
  font-size: 3rem;
}

/* these are the styles for the constant question .text */
#text {
  margin-bottom: 0%;
  padding-bottom: 0%;
  padding-left: 15%;
  padding-top: 8%;
}

h3 {
  font-size: 2.5rem;
  padding-bottom: 0%;
}

/* these are the styles for the survey questions */

#questions {
  width: 20%;
  padding: 0%;
  margin-left: 40%;
  margin-top: 2%;
  background-color: rgba(222, 215, 236, 0.815);
  border-radius: 10px;
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  display: flex;
  justify-content: space-around;
  padding-top: 2%;
}
li {
  font-size: 2rem;
  text-align: center;
}

/* Display Change Properties */
.cough {
  display: block;
}

.soreThroat {
  display: none;
}

.runnyNose {
  display: none;
}

.fever {
  display: none;
}

.vomiting {
  display: none;
}

.diarrhea {
  display: none;
}

.end {
  width: 20%;
  margin-top: 8%;
  margin-left: 40%;
  text-align: center;
  background-color: rgba(222, 215, 236, 0.815);
  border-radius: 10px;
  display: none;
}

.end #results {
  text-align: left;
  font-size: 2rem;
  padding: 2.5%;
}

button {
  border-radius: 10px;
  font-size: 1.6rem;
}

button a {
  text-decoration: none;
  color: black;
}
